#root {
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 50px;
  margin: 24px auto;
}

.forms-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}