:root {
    --cv-header-bg-color: #1c1c84;
    --cv-text-color: white;
}

.cv-display {
    width: 42vw;
    min-height: 110vh;
    background-color: #FEFEFE;
}

.information-display {
    padding: 16px 42px;
}