.experience-info > p:empty {
    display: none;
}

.experience-info {
    width: 140px;
}

.company-title {
    font-weight: bold;
    letter-spacing: 0.6px;
}

.dates-info, .location-info, .company-title, .role, .description {
    margin: 2px 0;
}