.input-container {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: 100%;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: start;
    margin-bottom: 2px;
}

input {
    padding: 8px;
    border: 2px solid transparent;
    outline: 0;
    border-radius: 12px;
    transition: all 0.1s ease-in-out;
}

input:focus {
    appearance: none;
    border: 2px solid palegreen;
}