.input-container {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: 100%;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: start;
    margin-bottom: 2px;
}

.recommended, .optional {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: yellow;
    opacity: 0.7;
    margin-left: 8px;
}

input, textarea {
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: border 0.1s ease-in-out;
}

textarea {
    min-height: 50px;
    min-width: 50%;
    max-width: 100%;
}

input:focus, textarea:focus {
    border: 2px solid palegreen;
    outline: none;
}