.personal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: crimson;
    padding: 12px 26px 20px;
    border-radius: 14px;
    margin: 16px 0;
}

.form-heading {
    font-size: 1.6rem;
    text-align: start;
    letter-spacing: 1.2px;
    margin: 6px 0;
}