.section-title-div {
    background-color: var(--cv-header-bg-color);
    padding: 2px 0;
    text-align: center;
}

.education {
    margin-top: 14px;
}

.section-title {
    color: var(--cv-text-color);
    letter-spacing: 0.6px;
    margin: 0;
}

.experience-section, .education-section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 12px;
    letter-spacing: 0.2px;
    margin: 6px 0;
}