.collapsed-form {
    width: 100%;
    background-color: #D6D2C2;
    color: #000;
    letter-spacing: 0.8px;
    border-top: 3px solid #1A1A1A;
    border-radius: 0;
}

.collapsed-form:last-child {
    border-bottom: 3px solid #444;
}

.collapsed-form:hover {
    color: #FEFEFE;
    background-color: rgb(165, 161, 146);
}

.collapsed-form > p {
    margin: 8px 0;
}