.collapsed-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #D6D2C2;
    color: #000;
    letter-spacing: 0.8px;
    border-top: 3px solid #1A1A1A;
    border-radius: 0;
}

.collapsed-form:last-child {
    border-bottom: 3px solid #444;
}

.collapsed-form:hover {
    color: #FEFEFE;
    background-color: rgb(165, 161, 146);
}

.collapsed-form > p {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.6px;
    margin: 8px 0 8px 16px;
}

i[class*="eye"] {
    font-size: 18px;
    margin-left: auto;
    opacity: 0.8;
}

i[class*="eye-slash"] {
    color: darkred;
}