.expand-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6D2C2;
    color: #000;
}

.section-heading {
    text-align: left;
    transform: translateX(6px);
}

.form-heading > i {
    font-size: 1.5rem;
    margin-right: 8px;
}

h2 + i {
    font-size: 20px;
    margin: 10px 12px 0 0;
}

.fa-chevron-up {
    transition: transform 0.35s;
    transform: rotate(0);
}

.fa-chevron-up.open {
    transform: rotate(180deg);
}