.section {
    background-color: #D6D2C2;
    padding-top: 12px;
    border-radius: 14px;
}

.section-heading {
    text-align: left;
    margin: 0 0 12px;
    transform: translateX(26px);
}