.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D6D2C2;
    border-radius: 14px;
}

.open-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: open-menu 0.8s ease;
    transform-origin: top;
}

.hide-section {
    display: none;
    animation: close-menu 0.8s ease;
    transform-origin: top;
}

@keyframes open-menu {
    from {
        transform: scaleY(0);
    } 
    to {
        transform: scaleY(1);
    }
}